# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
*.sqlite3
*.db

# Node
node_modules/
dist/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*.local
.env
